# Allow init to bind mount over vendor file
allow init vendor_file:file mounton;
allow init vendor_configs_file:file mounton;

# vendor_overlay
allow init vendor_configs_file:dir mounton;

# DC Dimming
allow init sysfs_dm:file setattr;

